@page "/"

@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject HttpClient Http
@inject IAccessTokenProvider TokenProvider
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Index</PageTitle>

<AuthorizeView>
    <NotAuthorized>
        <h2>Welcome to Members application.</h2>
        Please, <a href="authentication/login">Log in</a> to start using Members application.
    </NotAuthorized>
    <Authorized>
        <MudPaper Elevation="4">
            <MudToolBar>
                <MudIconButton Icon="@Icons.Material.Filled.Computer" Color="Color.Inherit" />
                <MudIconButton Icon="@Icons.Material.Filled.Save" Color="Color.Inherit" />
                <MudDivider Vertical="true" FlexItem="false" />
                <MudIconButton Icon="@Icons.Material.Filled.PersonAdd" Color="Color.Inherit" />
                <MudIconButton Icon="@Icons.Material.Filled.GroupAdd" Color="Color.Inherit" />
                <MudDivider Vertical="true" FlexItem="true" />
                <MudIconButton Icon="@Icons.Material.Filled.Undo" />
                <MudIconButton Icon="@Icons.Material.Filled.Redo" />
                <MudDivider Vertical="true" FlexItem="true" />
                <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Inherit" />
                <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Inherit" />
                <MudSpacer />
            </MudToolBar>
        </MudPaper>
        
        <MudGrid Spacing="0">
            <MudItem xs="12" md="6">
                <MudContainer Fixed="true" Style="padding-left: 0;padding-right: 0;">
                    <MudPaper Height="400px" Width="100%" Square="true" Class="mud-theme-primary">
                        <MudTreeView T="string">
                            @foreach (var person in people)
                            {
                                <MudTreeViewItem Value="@person.Name" />
                            }
                        </MudTreeView>
                    </MudPaper>
                </MudContainer>
            </MudItem>
            <MudItem xs="12" md="6">
                <MudContainer Fixed="true" Style="padding-left: 0;padding-right: 0;">
                    <MudPaper Height="400px" Width="100%" Square="true" Class="mud-theme-secondary">
                        <MudTreeView T="string">
                            @foreach (var group in groups)
                            {
                                <MudTreeViewItem Value="@group.Name">
                                @foreach (var member in GetMembers( group )  )
                                {
                                    <MudTreeViewItem Value="@member.Name" />
                                }
                                </MudTreeViewItem>
                            }
                        </MudTreeView>
                    </MudPaper>
                </MudContainer>
            </MudItem>
        </MudGrid>

    </Authorized>
</AuthorizeView>